nav ul a,
nav .brand-logo {
  color: #F6F4F3;
  font-family: 'Vibur', cursive;
  font-size: 40px;
}

/*body{
  background-color: #F6F4F3;
}*/

.navBackground {
  background-color: #F03A47;
}

.header1{
  color: #F6F4F3;
  font-family: 'Vibur', cursive;
  font-size: 800%;
  margin-bottom: 7px;
}

.header2{
  color: #F6F4F3;
  font-size: 200%;
  margin-bottom: 25px;
}

#buttons{
  background-color: #F6F4F3;
  color: #F03A47;
  font-style: bold;
  font-size: 16px;
  margin-right: 7px;
  margin-left: 7px;
}

#index-banner{
  margin-bottom: 15px;
}

.section{
  align-self: center;
  padding-left: 10px;
}

.iconContainer{
  background-color: #F6F4F3;
}

.material-icons{
  color: #183059;
}

h5{
  color: #183059;
}

.signUpTitle{
  color: #F03A47;
  font-family: 'Vibur', cursive;
}

.logInTitle{
  color: #F03A47;
  font-family: 'Vibur', cursive;
}

#firstName-input{
  color: #183059;
}

#lastName-input{
  color: #183059;
}

#email-input{
  color: #183059;
}

#password-input{
  color: #183059;
}

#height-input{
  color: #183059;
}

#datePicker-input{
  color: #183059;
}

#currentWeight-input{
  color: #183059;
}

#goalWeight-input{
  color: #183059;
}

.datePicker{
  color: #F03A47;
}

p{
  color: #183059;
}

.infoContainer{
  background-color: #449DD1;
}

.header2{
  font: #F6F4F3;
  font-family: 'Roboto';
}

.navIcons{
  color: #F6F4F3;
}

.dashboardContainer{
  background-color: #449DD1;
}

.container1{
  background-color: #F6F4F3;
}

.red.lighten-1 {
    background-color: #183059 !important;
}

.white-text {
    color: #F6F4F3 !important;
}

.parallax {
  background-color: #F03A47;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    color: #F6F4F3;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #183059;
}

.connectText {
  color: #F6F4F3;
}

.brand-logo{
  font-family: ;
}
Add Comment